<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iwhalecloud.retail.offer.mapper.ProdTagsRelMapper">

    <select id="listTagByProdGoodsId" resultType="com.iwhalecloud.retail.offer.dto.resp.TagResp">
        select tt.*
          from prod_tags_rel ptr
          join t_tag tt on tt.tag_id = ptr.tag_id
         where ptr.goods_id = #{goodsId}
    </select>

    <select id="listTagIdByProdGoodsId" resultType="java.lang.String">
        select tag_id
          from prod_tags_rel
         where goods_id = #{goodsId}
    </select>

    <select id="listTagBytypeId" resultType="com.iwhalecloud.retail.offer.dto.resp.TagResp">
        SELECT *
        FROM T_TAG 
        WHERE 1 = 1
        <if test="typeId != null and typeId != ''">
            AND TAG_TYPE = #{typeId}
        </if>
        
    </select>

    <delete id="deleteByGoodsId">
        DELETE FROM PROD_TAGS_REL
        WHERE GOODS_ID = #{goodsId}
    </delete>

</mapper>